@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body{
    position: relative;
    top: 15px;
}

svg{
    color: #ffa100;
    padding: 10px 5px 0 0;
}

.warning{
    display: flex;
    justify-content: center;
}


.warning-signin{
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
    max-width: 350px;
    width: 100%;
    padding: 0 16px ;
    font-size: 14px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.warning-signup{
    display: flex;
    position: fixed;
    margin: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
    padding: 0 16px ;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    height: 50px;
    max-width: 350px;
    width: 70%;
    text-align: center;
}
div.cover{
    margin-top: 10px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

.container-signup{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
    padding: 50px;
    max-width: 700px;
    width: 100%;
}

.container-signin{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%);
    padding: 50px;
    max-width: 400px;
    width: 100%;
}



form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

.content input[type="text"],select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    margin: 25px 0;
    background-color: #fff;
}

select{
    width: calc(100% + 20px);
}

form .user-details .input-box{
    width: calc(100% / 2 - 30px);
}

::placeholder{
    color:rgb(136, 136, 136);
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-size: 20px;
    margin-bottom: 60px;
}

label{
    font-weight: bold;
}

span{
    color: red;
}


.details{
    color: black;
    font-weight: bold;
}

img{
    padding:0 calc(50% - 20px);
}

p{
    font-size: 14px;
}

.checkbox a{
    color: black;
}

a:nth-child(5){
    text-decoration: none;
}

a:nth-child(5):hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.checkbox>p{
    padding-top: 1px;
    margin-top: 0;
    margin-left: 10px;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.submit>p a:nth-child(1){
    color: #017990;
}

button>a{
    color: white;
    text-decoration: none;
}

button{
    background: #FF2500;
    border:0;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    width:136px;
    height: 46px;
}

button:hover{
    background:rgb(194, 7, 7);
}

div.cover>footer{
    justify-content: flex-start;
}

footer{
    color: #707070;
    max-width: 700px;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

.footer-sign-in{
    max-width: 400px;
}

@media screen and (min-width:426px){
    footer{
        margin-left: -50px;
    }
}

@media screen and (min-width:769px){
    footer{
        margin-left: -100px;
    }

}

@media screen and (max-width:767px){
    form .user-details{
        flex-direction: column;
    }

    .submit{
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 10%;
    }

    .submit-signin{
        margin-left: 0;
    }

    button{
        width: 80%;
    }

    .submit-signin button{
        width: 85%;
    }

    form .user-details .input-box,.input-box{
        width: 80%;
    }

    .footer-sign-in{
        margin-left: -30px;
    }
}






